.ComponentSpecDoc {
    max-width: 60em;



    h2 {
        padding: 2em;
    }

    .CoolThing {
        color: blue;
    }
    ul > li {
        margin-bottom: 0.5em;
        list-style: none;
    }
}
