@import "variables"

@font-face
  font-family 'rezicons'
  src url(icomoon-font-path + '/rezicons.ttf?8p6821') format('truetype'), url(icomoon-font-path + '/rezicons.woff?8p6821') format('woff'), url(icomoon-font-path + '/rezicons.svg?8p6821#rezicons') format('svg')
  font-weight normal
  font-style normal

.icon
  font-family 'rezicons' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-arrival
  &:before
    content icon-arrival
.icon-departure
  &:before
    content icon-departure
.icon-shuttle-0
  &:before
    content icon-shuttle-0
.icon-van-0
  &:before
    content icon-van-0
.icon-shuttle
  &:before
    content icon-shuttle
.icon-van
  &:before
    content icon-van
.icon-building
  &:before
    content icon-building
.icon-child
  &:before
    content icon-child
.icon-coffee
  &:before
    content icon-coffee
.icon-credit-card
  &:before
    content icon-credit-card
.icon-female
  &:before
    content icon-female
.icon-home
  &:before
    content icon-home
.icon-plane-alt
  &:before
    content icon-plane-alt
.icon-scanner
  &:before
    content icon-scanner
.icon-subway
  &:before
    content icon-subway
.icon-suitcase
  &:before
    content icon-suitcase
.icon-train
  &:before
    content icon-train
.icon-utensils-alt
  &:before
    content icon-utensils-alt
.icon-utensils
  &:before
    content icon-utensils
.icon-wine-glass
  &:before
    content icon-wine-glass
.icon-ellipsis-v
  &:before
    content icon-ellipsis-v
.icon-baby
  &:before
    content icon-baby
.icon-senior
  &:before
    content icon-senior
.icon-venus-mars
  &:before
    content icon-venus-mars
.icon-search
  &:before
    content icon-search
.icon-thumbs-up
  &:before
    content icon-thumbs-up
.icon-times
  &:before
    content icon-times
.icon-close
  &:before
    content icon-close
.icon-trash
  &:before
    content icon-trash
.icon-undo
  &:before
    content icon-undo
.icon-user
  &:before
    content icon-user
.icon-users
  &:before
    content icon-users
.icon-angle-down
  &:before
    content icon-angle-down
.icon-angle-left
  &:before
    content icon-angle-left
.icon-angle-right
  &:before
    content icon-angle-right
.icon-angle-up
  &:before
    content icon-angle-up
.icon-arrows-v
  &:before
    content icon-arrows-v
.icon-ban
  &:before
    content icon-ban
.icon-bars
  &:before
    content icon-bars
.icon-calendar
  &:before
    content icon-calendar
.icon-car
  &:before
    content icon-car
.icon-check-circle
  &:before
    content icon-check-circle
.icon-chevron-down
  &:before
    content icon-chevron-down
.icon-chevron-left
  &:before
    content icon-chevron-left
.icon-chevron-right
  &:before
    content icon-chevron-right
.icon-chevron-up
  &:before
    content icon-chevron-up
.icon-download
  &:before
    content icon-download
.icon-gear
  &:before
    content icon-gear
.icon-edit
  &:before
    content icon-edit
.icon-envelope-o
  &:before
    content icon-envelope-o
.icon-envelope
  &:before
    content icon-envelope
.icon-eraser
  &:before
    content icon-eraser
.icon-globe
  &:before
    content icon-globe
.icon-phone
  &:before
    content icon-phone
.icon-plane
  &:before
    content icon-plane
.icon-plus-square
  &:before
    content icon-plus-square
.icon-plus
  &:before
    content icon-plus
.icon-print
  &:before
    content icon-print
.icon-search-plus
  &:before
    content icon-search-plus
.icon-wheelchair
  &:before
    content icon-wheelchair
.icon-book
  &:before
    content icon-book
.icon-building2
  &:before
    content icon-building2
.icon-check-square
  &:before
    content icon-check-square
.icon-check
  &:before
    content icon-check
.icon-credit-card2
  &:before
    content icon-credit-card2
.icon-exclamation-triangle
  &:before
    content icon-exclamation-triangle
.icon-warning
  &:before
    content icon-warning
.icon-file-alt
  &:before
    content icon-file-alt
.icon-file-image
  &:before
    content icon-file-image
.icon-medkit
  &:before
    content icon-medkit
.icon-pencil
  &:before
    content icon-pencil
.icon-puzzle-piece
  &:before
    content icon-puzzle-piece
.icon-bolt
  &:before
    content icon-bolt
.icon-box-full
  &:before
    content icon-box-full
.icon-box-usd
  &:before
    content icon-box-usd
.icon-calculator
  &:before
    content icon-calculator
.icon-conveyor-belt-alt
  &:before
    content icon-conveyor-belt-alt
.icon-dollar-sign
  &:before
    content icon-dollar-sign
.icon-donate
  &:before
    content icon-donate
.icon-link
  &:before
    content icon-link
.icon-percent
  &:before
    content icon-percent
.icon-piggy-bank
  &:before
    content icon-piggy-bank
.icon-tag
  &:before
    content icon-tag
.icon-tags
  &:before
    content icon-tags
.icon-bed
  &:before
    content icon-bed
.icon-hotel
  &:before
    content icon-hotel
.icon-exchange
  &:before
    content icon-exchange
.icon-caret-up
  &:before
    content icon-caret-up
.icon-caret-down
  &:before
    content icon-caret-down
.icon-info
  &:before
    content icon-info
.icon-address-card
  &:before
    content icon-address-card
.icon-address-book
  &:before
    content icon-address-book
.icon-library
  &:before
    content icon-library
.icon-checked-product
  &:before
    content icon-checked-product
.icon-channels
  &:before
    content icon-channels

