@font-face {
  font-family: 'rezicons';
  src:
    url('fonts/rezicons.ttf?8p6821') format('truetype'),
    url('fonts/rezicons.woff?8p6821') format('woff'),
    url('fonts/rezicons.svg?8p6821#rezicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rezicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrival:before {
  content: "\e95a";
}
.icon-departure:before {
  content: "\e95b";
}
.icon-shuttle-0:before {
  content: "\e958";
}
.icon-van-0:before {
  content: "\e959";
}
.icon-shuttle:before {
  content: "\e94e";
}
.icon-van:before {
  content: "\e957";
}
.icon-building:before {
  content: "\e948";
}
.icon-child:before {
  content: "\e949";
}
.icon-coffee:before {
  content: "\e94a";
}
.icon-credit-card:before {
  content: "\e94b";
}
.icon-female:before {
  content: "\e94c";
}
.icon-home:before {
  content: "\e94d";
}
.icon-plane-alt:before {
  content: "\e94f";
}
.icon-scanner:before {
  content: "\e950";
}
.icon-subway:before {
  content: "\e951";
}
.icon-suitcase:before {
  content: "\e952";
}
.icon-train:before {
  content: "\e953";
}
.icon-utensils-alt:before {
  content: "\e954";
}
.icon-utensils:before {
  content: "\e955";
}
.icon-wine-glass:before {
  content: "\e956";
}
.icon-ellipsis-v:before {
  content: "\e947";
}
.icon-baby:before {
  content: "\e945";
}
.icon-senior:before {
  content: "\e946";
}
.icon-venus-mars:before {
  content: "\e926";
}
.icon-search:before {
  content: "\e901";
}
.icon-thumbs-up:before {
  content: "\e906";
}
.icon-times:before {
  content: "\e925";
}
.icon-close:before {
  content: "\e925";
}
.icon-trash:before {
  content: "\e907";
}
.icon-undo:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-users:before {
  content: "\e90a";
}
.icon-angle-down:before {
  content: "\e921";
}
.icon-angle-left:before {
  content: "\e922";
}
.icon-angle-right:before {
  content: "\e923";
}
.icon-angle-up:before {
  content: "\e924";
}
.icon-arrows-v:before {
  content: "\e90b";
}
.icon-ban:before {
  content: "\e90c";
}
.icon-bars:before {
  content: "\e90d";
}
.icon-calendar:before {
  content: "\e90e";
}
.icon-car:before {
  content: "\e90f";
}
.icon-check-circle:before {
  content: "\e910";
}
.icon-chevron-down:before {
  content: "\e911";
}
.icon-chevron-left:before {
  content: "\e912";
}
.icon-chevron-right:before {
  content: "\e913";
}
.icon-chevron-up:before {
  content: "\e914";
}
.icon-download:before {
  content: "\e915";
}
.icon-gear:before {
  content: "\e916";
}
.icon-edit:before {
  content: "\e917";
}
.icon-envelope-o:before {
  content: "\e918";
}
.icon-envelope:before {
  content: "\e920";
}
.icon-eraser:before {
  content: "\e919";
}
.icon-globe:before {
  content: "\e91a";
}
.icon-phone:before {
  content: "\e91b";
}
.icon-plane:before {
  content: "\e91c";
}
.icon-plus-square:before {
  content: "\e91d";
}
.icon-plus:before {
  content: "\e91e";
}
.icon-print:before {
  content: "\e91f";
}
.icon-search-plus:before {
  content: "\e935";
}
.icon-wheelchair:before {
  content: "\e927";
}
.icon-book:before {
  content: "\e928";
}
.icon-building2:before {
  content: "\e930";
}
.icon-check-square:before {
  content: "\e929";
}
.icon-check:before {
  content: "\e92a";
}
.icon-credit-card2:before {
  content: "\e92b";
}
.icon-exclamation-triangle:before {
  content: "\e92c";
}
.icon-warning:before {
  content: "\e92c";
}
.icon-file-alt:before {
  content: "\e931";
}
.icon-file-image:before {
  content: "\e92d";
}
.icon-medkit:before {
  content: "\e92e";
}
.icon-pencil:before {
  content: "\e933";
}
.icon-puzzle-piece:before {
  content: "\e92f";
}
.icon-bolt:before {
  content: "\e936";
}
.icon-box-full:before {
  content: "\e937";
}
.icon-box-usd:before {
  content: "\e93e";
}
.icon-calculator:before {
  content: "\e938";
}
.icon-conveyor-belt-alt:before {
  content: "\e939";
}
.icon-dollar-sign:before {
  content: "\e93a";
}
.icon-donate:before {
  content: "\e934";
}
.icon-link:before {
  content: "\e93b";
}
.icon-percent:before {
  content: "\e93d";
}
.icon-piggy-bank:before {
  content: "\e93c";
}
.icon-tag:before {
  content: "\e93f";
}
.icon-tags:before {
  content: "\e932";
}
.icon-bed:before {
  content: "\e900";
}
.icon-hotel:before {
  content: "\e900";
}
.icon-exchange:before {
  content: "\e902";
}
.icon-caret-up:before {
  content: "\e903";
}
.icon-caret-down:before {
  content: "\e904";
}
.icon-info:before {
  content: "\e905";
}
.icon-address-card:before {
  content: "\e940";
}
.icon-address-book:before {
  content: "\e941";
}
.icon-library:before {
  content: "\e942";
}
.icon-checked-product:before {
  content: "\e943";
}
.icon-channels:before {
  content: "\e944";
}
