icomoon-font-path ?= "fonts"

icon-arrival = "\e95a"
icon-departure = "\e95b"
icon-shuttle-0 = "\e958"
icon-van-0 = "\e959"
icon-shuttle = "\e94e"
icon-van = "\e957"
icon-building = "\e948"
icon-child = "\e949"
icon-coffee = "\e94a"
icon-credit-card = "\e94b"
icon-female = "\e94c"
icon-home = "\e94d"
icon-plane-alt = "\e94f"
icon-scanner = "\e950"
icon-subway = "\e951"
icon-suitcase = "\e952"
icon-train = "\e953"
icon-utensils-alt = "\e954"
icon-utensils = "\e955"
icon-wine-glass = "\e956"
icon-ellipsis-v = "\e947"
icon-baby = "\e945"
icon-senior = "\e946"
icon-venus-mars = "\e926"
icon-search = "\e901"
icon-thumbs-up = "\e906"
icon-times = "\e925"
icon-close = "\e925"
icon-trash = "\e907"
icon-undo = "\e908"
icon-user = "\e909"
icon-users = "\e90a"
icon-angle-down = "\e921"
icon-angle-left = "\e922"
icon-angle-right = "\e923"
icon-angle-up = "\e924"
icon-arrows-v = "\e90b"
icon-ban = "\e90c"
icon-bars = "\e90d"
icon-calendar = "\e90e"
icon-car = "\e90f"
icon-check-circle = "\e910"
icon-chevron-down = "\e911"
icon-chevron-left = "\e912"
icon-chevron-right = "\e913"
icon-chevron-up = "\e914"
icon-download = "\e915"
icon-gear = "\e916"
icon-edit = "\e917"
icon-envelope-o = "\e918"
icon-envelope = "\e920"
icon-eraser = "\e919"
icon-globe = "\e91a"
icon-phone = "\e91b"
icon-plane = "\e91c"
icon-plus-square = "\e91d"
icon-plus = "\e91e"
icon-print = "\e91f"
icon-search-plus = "\e935"
icon-wheelchair = "\e927"
icon-book = "\e928"
icon-building2 = "\e930"
icon-check-square = "\e929"
icon-check = "\e92a"
icon-credit-card2 = "\e92b"
icon-exclamation-triangle = "\e92c"
icon-warning = "\e92c"
icon-file-alt = "\e931"
icon-file-image = "\e92d"
icon-medkit = "\e92e"
icon-pencil = "\e933"
icon-puzzle-piece = "\e92f"
icon-bolt = "\e936"
icon-box-full = "\e937"
icon-box-usd = "\e93e"
icon-calculator = "\e938"
icon-conveyor-belt-alt = "\e939"
icon-dollar-sign = "\e93a"
icon-donate = "\e934"
icon-link = "\e93b"
icon-percent = "\e93d"
icon-piggy-bank = "\e93c"
icon-tag = "\e93f"
icon-tags = "\e932"
icon-bed = "\e900"
icon-hotel = "\e900"
icon-exchange = "\e902"
icon-caret-up = "\e903"
icon-caret-down = "\e904"
icon-info = "\e905"
icon-address-card = "\e940"
icon-address-book = "\e941"
icon-library = "\e942"
icon-checked-product = "\e943"
icon-channels = "\e944"

